table{
    width: 100%;
    margin-bottom: 1rem;
}

td, th {
    bottom: 1px solid #000000;
    padding: .5rem 1rem;
}

td{
    text-align: center;
}

td:disabled {
    opacity: .5;
}

td:hover:not(.disabled){
    background: #eee;
    cursor: pointer;
}
